@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    transition: opacity 0.3s, transform 0.3s;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

button, li {
    transition: opacity 0.3s, transform 0.3s;
    cursor: pointer;
}

.window {
    width: 100%;
    display: block;
}

.header-nav {
    box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.25);
    background: rgb(13, 13, 13);
    padding: 1rem;
    display: flex;
    align-items: center;
}

button:hover, li:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}


body {
    display: flex;
}

body.no-scroll {
    overflow: hidden;
}

.open {
    display: flex !important;
}

.sidebar {
    display: block;
    max-width: 15.625vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-shadow: 5px 0px 15px 0px rgba(5, 5, 5, 0.1);
    background: rgb(32, 32, 32);
    text-align: center;
}

.sidebar-content {
    position: relative;
}

.sidebar-back__photo {
    background-image: url(../img/Rectangle-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 15.625vw;
    height: 19.625vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}

.div-test {
    height: 39.25vh;
    display: flex;
    justify-content: center;
}

.papa-list {
    display: none;
}

.sidebar-avatar__photo {
    background-image: url(../img/Ellipse-1.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 6.2vw;
    height: 6.2vw;
}

.div-test2 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15.625vw;
    
}

.sidebar-text {
    margin-top: 20vh;
}

.sidebar-content {
    position: relative;
}

.sidebar-text__name {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
}

.sidebar-text__description {
    color: rgb(222, 222, 222);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
}

.sidebar-text__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.sidebar-description__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidebar-buttons button {
    padding: 1rem;
    border-radius: 1.5rem;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    flex: 1;
}


.sidebar-buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;

}

.sidebar-buttons__my-projects {
    background: rgb(237, 48, 36);
    box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);
    white-space: nowrap;
}

.sidebar-buttons__contact-me {
    background: rgb(49, 55, 201);
    box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);
    white-space: nowrap;
}

.sidebar-description {
    padding: 0 1rem;
}

.sidebar-description__hr {
    border: 1px solid rgb(28, 28, 28);
    width: 100%;
}

.nav-input {
    margin-left: auto;
    display: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    box-shadow: -7px 1px 10px 0px rgba(0, 0, 0, 0.3);
    background: rgb(32, 32, 32);
    border: none;
    padding: 0.5rem;
    outline: none;
}

.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    cursor: pointer;
}

.burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FAF6F2;
    margin-right: auto;
}


.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }

/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

main {
    background-color: rgb(25, 25, 25);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 1700px) {
    .sidebar-buttons button {
        padding: 0.5rem;
    }
}

@media (max-width: 1600px) {
    .sidebar-text__name {
        font-size: 15px;
    }

    .sidebar-text__description {
        font-size: 13px;
    }

    


@media (max-width: 1390px) {
    .sidebar-buttons__my-projects {
        white-space: normal;
    }



    .sidebar-buttons__contact-me {
        white-space: normal;
    }
}}


@media (max-width: 1250px) {
    .sidebar-description {
        display: none;
    }

    .sidebar-buttons {
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media (max-width: 1024px) {


    .burger {
        display: flex;
    }

    .sidebar{
        
        display: none;
        position: fixed;
        max-height: 100vh;
        max-width: 100vw;
        width: 100%;
        height: 100%;
        inset: 0;
        z-index: 50;
        animation: burgerAnimation 0.4s;
        padding-top: 70px;
    }

    .sidebar-back__photo  {
        
        width: 100vw;

    }
    
    .sidebar-avatar__photo {
        width: 30vw;
        height: 30vw;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .sidebar-description {
        display: none;
    }

    .nav {
        display: none;
    }
   
    .sidebar-text__list {
        display: none;
    }

    .div-test2 {
        width: 100vw;
        position: relative;
    }

    .sidebar-buttons button {
        font-size: 17px;
        flex: 1;
       
    }

    .sidebar-buttons {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

    }


    .sidebar-text__name {
        font-size: 25px;
    }

    .sidebar-text__description {
        font-size: 22px;
    }

    .sidebar-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    #dl_list {
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }
    .sidebar-item {
        text-align: left;
    }

    .papa-list {
        display: flex;
        margin-left: 1rem;
    }

    .sidebar-link {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 0;
        text-align: left;
    }

    .main-post {
        
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

}



@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
