@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
} 

html {
    box-sizing: border-box;
}

button:hover, a:hover {
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
}

.modal-content {
    background-color: #fefefe;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width: max-content;
    padding: 20px 25px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.modal-main-content {
    margin: 15px 40px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden;
}

.add_scroll {
    overflow: auto
}

.modal-title {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
    line-height: 46.8px;
    letter-spacing: 0px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 20px;
}

.modal-description, .form-title, .form-inp {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: 0px;
    text-align: center;
}

.modal-soc-networks {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
}

.modal-vsela {
    font-family: Megrim;
    cursor: pointer;
}

.forma-main {
    width: max-content;
    margin: 0 auto;
}

.forma {
    display: flex;
    justify-content: space-evenly;
}

.form-title {
    font-weight: 700;
}

.form-inp {
    text-align: left;
    outline: none;
    padding: 12px 14px;
    margin-bottom: 20px;
}

.form {
    margin-top: 30px;
    text-align: center;
    
}

.form-description {
    margin-top: 10px;
    text-align: left;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
}

#modal_but {
    margin-bottom: 10px;
}

.form-but_desc {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 500;
    line-height: 11.7px;
    letter-spacing: 0px;
    text-align: center;
}

.form-button {
    width: 200px;
    height: 65px;
    color: rgba(0, 0, 0, 0.64);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.29);
    background: rgb(245, 245, 245);
    margin-bottom: 30px;
}

.form-button {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
}