@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}


html {
    box-sizing: border-box;
}

.header {
    display: flex;
}

.header-main {
    display: flex;
    width: 97vw;
    margin-left: 1.5vw;
    position: relative;
    margin-top: 20px;
}

.header-title {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 65px;
    font-weight: 275;
    line-height: 79.24px;
    letter-spacing: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.main-menu_btn {
    border: none;
    background-color: transparent;
}

.header-main-logo {
    display: flex;
}

.header-main-menu_link {
    color: rgb(0, 0, 0);
    font-family: Megrim;
    font-size: 128px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: 0px;
    margin-left: 12px;
}

.header-nav {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-nav_list {
    text-align: center;
    flex-direction: column;
    display: flex;
    gap: 45px;
}

.main {
    width: 25vw;
    margin: 0 auto;
}

.test {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form_label {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 35.16px;
    letter-spacing: 0px;
    text-align: left;
    display: block;

}

.form_radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    margin-top: 10px;
    width: 70%;
    margin-bottom: 30px;
}

.form_input {
    height: max-content;
    width: 70%;
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(231, 231, 231, 0.3);
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 35.16px;
    letter-spacing: 0px;
    padding-left: 15px;
    outline: none;
    border-radius: 10px;
    margin-left: auto;
}

.form_text {
    margin-top: 70px;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 35.16px;
    letter-spacing: 0px;
    text-align: left;
}

.form_radio {
    text-align: left;
}

input[type='radio'] {
    accent-color: #000;
}

.form_radio2 {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.form_radio_label {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 35.16px;
    letter-spacing: 0px;
    text-align: left;
}

.test2 {
    display: flex;
}

.form_span {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    line-height: 15.23px;
    letter-spacing: 0px;
    text-align: left;
}

.form_adres {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.test3 {
    display: flex;
    gap: 10px;
}

.form_adres_input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_oplata {
    width: 70%;
    background: rgba(217, 217, 217, 0.45);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 50px;
    padding-bottom: 15px;
    margin: 0 auto;
    margin-bottom: 130px;
    border-radius: 30px;
}

.oplata-header, .oplate-footer {
    display: flex;
    justify-content: space-between;
}

.oplata-header-text {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 32.81px;
    letter-spacing: 0px;
    text-align: left;
}

.oplata-footer-text {
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    line-height: 32.81px;
    letter-spacing: 0px;
    text-align: left;
}

.oplata-promo {
    display: flex;
}

.promo {
    height: max-content;
    width: 50%;
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background: rgba(231, 231, 231, 0.3);
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 35.16px;
    letter-spacing: 0px;
    padding-left: 15px;
    outline: none;
    border-radius: 10px;
    margin-right: auto;
}

.form_primenit {
    padding: 7px;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 23.44px;
    letter-spacing: 0px;
    box-sizing: border-box;
    border: none;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    margin-right: auto;
}

.form-submit-btn {
    box-sizing: border-box;
    border: none;
    background: rgb(48, 170, 82);
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 32.81px;
    letter-spacing: 0px;
    text-align: left;
    padding: 7px 15px;
    border-radius: 10px;
}

button {
    transition: opacity 0.3s;
}

button:hover {
    opacity: 0.7;
}
